@import "../../App";

//global card container layout
.cardContainer {
  width: 100%;

  .card {
    background-color: $white;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

    .progress-container {
      .progress-labels {
        p {
          margin-bottom: 0;
          font-size: $small-p;
        }
      }

      .progress-bar {
        background: $lightgray;
        border-radius: 1rem;
        height: 1rem;
        width: 100%;
        margin: 1rem 0;
        position: relative;

        .progress {
          height: 1rem;
          border-radius: 1rem;
        }

        p {
          font-size: $small-p;
          color: $white;
          position: absolute;
          top: 10%;
          margin: 0;
        }
      }
    }
  }

  h6 {
    color: $gray;
    text-transform: uppercase;
    font-size: $small-p;
  }
  p {
    color: $black;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  h5 {
    color: $gray;
  }
}

#card1 {
  .progress {
    $currentProgress: 80%;

    @include progress-colors($currentProgress);

    width: $currentProgress;

    p {
      left: $currentProgress - 4%;
    }
  }

  .preview-progress {
    $previewProgress: 40%;

    @include progress-preview-colors($previewProgress);

    width: $previewProgress;

    p {
      left: $previewProgress - 4%;
    }
  }
}
